body {
    font-family: Arial, sans-serif;
    background-color: #000011;
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #aa333F;
    color: #fff55;
    border-radius: 10px;
    border: solid 3px #00C700;
    cursor: pointer;
}

button.active {
    background-color: #C70039;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

textarea {
    width: 400px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #C70039;
    padding: 10px;
}

input[type="password"] {
    width: 400px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 4px #00C700;
    padding: 10px;
}
